.header {
  &__top {
    margin-bottom: 32px;
    padding-top: 18px;
    padding-bottom: 13px;
    max-width: 100%;
    background-color: var(--color-grey_light);

    .container {
      display: flex;
      justify-content: space-between;
    }

    &-left {
      display: flex;
      justify-content: space-between;
      max-width: 352px;

      .header {
        &__region {
          margin-right: 23px;
          display: flex;
          font-style: normal;
          font-size: 16px;
          line-height: 120%;
          // @include crop-text(2);
        }

        &__tel {
          margin-top: -7px;
          font-style: normal;
          font-size: 14px;
          line-height: 100%;
          color: var(--color-secondary);
          transition: color 0.3s ease-in-out;

          &-svg {
            position: relative;
            top: 3px;
            left: 1px;
            display: inline-block;
            width: 144px;
            height: 22px;
            fill: var(--color-secondary);

            &:focus {
              outline: none;
              fill: var(--color-secondary);
            }

            @include hover {
              fill: var(--color-secondary_light);
            }

            &:active {
              fill: var(--color-secondary_shade);
            }
          }

          &-text {
            &:focus {
              outline: none;
              color: var(--color-secondary);
              background-color: var(--color-bone);
            }

            @include hover {
              color: var(--color-secondary_light);
            }

            &:active {
              color: var(--color-secondary_shade);
              background-color: transparent;
            }
          }
        }
      }
    }

    &-right {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 100%;
      color: var(--color-grey);
    }

    .nav {
      display: flex;
      justify-content: space-between;

      &__list {
        margin-left: -10px;
        margin-right: -10px;
        display: flex;
        justify-content: space-between;
        width: 730px;
        min-width: 643px;
      }
    }
  }

  &__center {
    margin-bottom: 29px;

    .container {
      display: flex;
      justify-content: space-between;
    }

    .logo {
      margin-right: 60px;
      width: 187px;
      min-width: 187px;
      height: 26px;

      &:focus {
        outline: none;
      }
    }

    .nav {
      display: flex;
      justify-content: space-between;

      &__list {
        margin-top: 6px;
        margin-left: -10px;
        margin-right: -7px;
        display: flex;
        justify-content: space-between;
        width: 969px;
      }

      &__link {
        padding: 1px 10px;

        &:focus {
          outline: none;
          color: var(--color-black);
        }

        &:active {
          color: var(--color-primary_shade);
        }
      }
    }
  }

  &__bottom {
    margin-bottom: 31px;

    .container {
      position: relative;
      display: flex;
    }

    .search {
      width: 761px;
      position: relative;

      &:active {
        svg {
          fill: var(--color-primary);
        }
      }

      &__icon {
        position: absolute;
        bottom: 20px;
        left: 34px;
        outline: none;

        svg {
          display: inline-block;
          width: 16px;
          height: 16px;
          fill: var(--color-grey);
        }
      }

      &__input {
        border: 2px solid var(--color-grey_light);
        border-radius: 10px 0px 0px 10px;
        padding: 20px 57px;
        padding-right: 60px;
        width: 100%;
        height: 60px;
        color: var(--color-black);

        &::placeholder {
          color: var(--color-grey);
        }

        &:focus {
          outline: none;
          border-color: var(--color-primary);
          background-color: var(--color-pink_light);
        }

        @include hover {
          background-color: var(--color-md_grey);
        }

        &:active {
          color: var(--color-black);
          border-color: var(--color-grey_light);
        }
      }

      &__arrow {
        position: absolute;
        top: 13px;
        right: 32px;
        outline: none;
        width: 32px;
        height: 32px;
        background-image: url('../img/search-arrow.svg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &__categories {
    .choices__list--single {
      background-color: var(--color-white);
      padding-bottom: 1px;
    }
  }

  &__account {
    position: absolute;
    top: 11px;
    right: 32px;

    a {
      display: inline-block;
      padding: 4px;

      &:focus {
        outline: none;
        background-color: var(--color-primary_light);

        &:active {
          background-color: transparent;
        }

        svg {
          fill: var(--color-white);

          &:active {
            fill: var(--color-primary_shade);
          }
        }
      }
    }

    .account-link {
      margin-right: 19px;
      width: 34px;
      height: 36px;
    }

    .basket-link {
      padding-left: 15px;
      width: 49px;
      height: 34px;
    }

    svg {
      display: inline-block;
      fill: var(--color-primary);

      @include hover {
        fill: var(--color-primary_light);
      }
    }

    .svg {
      &-personal {
        width: 26px;
        height: 28px;
      }

      &-basket {
        width: 30px;
        height: 28px;
      }
    }

    .icon-count {
      position: absolute;
      top: 9px;
      right: 31px;
      border-radius: 50%;
      padding-top: 2px;
      padding-left: 1px;
      display: inline-block;
      width: 14px;
      height: 15px;
      text-align: center;
      font-weight: 700;
      font-size: 10px;
      line-height: 100%;
      color: var(--color-white);
      background-color: var(--color-secondary);
    }
  }
}
