.hero {
  &__container.hero__container {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
  }

  &__content {
    padding-top: 80px;
    width: 1280px;
  }

  &__title {
    margin-bottom: 50px;
    width: 555px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: var(--color-grey);
    @include crop-text(3);
  }

  &__swiper {
    position: relative;
    height: 400px;
    overflow: hidden;

    .swiper-pagination-bullet {
      opacity: 0.3;

      &-active {
        opacity: 1;
        background-color: var(--color-black);
      }
    }
  }

  .swiper {
    &-slide {
      display: flex;
      justify-content: center;
      height: 400px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &__slide {
      &--1 {
        background-image: url('../img/hero_1-1920.webp');
      }

      &--2 {
        background-image: url('../img/hero_2-1920.webp');
      }

      &--3 {
        background-image: url('../img/hero_3-1920.webp');

        .hero__title {
          color: var(--color-white);
        }
      }
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 8px;
    height: 15px;
    width: 15px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 20px;
  }
}
