.high-rating {
  &__wrap {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  &__title {
    margin-bottom: 27px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: var(--color-black);
    @include crop-text(3);
  }

  .card {
    height: 420px;

    &__badge {
      top: 25px;
      left: 29px;
      width: 75px;
      height: 31px;
      padding-left: 5px;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      background-image: url('../img/star.svg');
      background-position: left;
      background-size: 16px 15px;
      color: var(--color-secondary);
    }

    &__image-wrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__price {
      margin-bottom: 22px;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: var(--color-grey_shade);
    }
  }

  &__button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    padding: 20px 34px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
  }
}
