.spec-offers {
  &__container {
    min-width: 0;
  }

  &__title {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    @include crop-text(3);
  }

  .swiper-slide {
    width: 296px !important;

    &--big {
      width: 624px !important;
    }
  }
}

.my-swiper-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 100;

  &:focus {
    outline: none;
  }

  &-prev {
    top: -3px;
    right: 44px;
    transform: rotate(180deg);
  }

  svg {
    display: inline-block;
    width: 32px;
    height: 32px;
    fill: var(--color-white);
    stroke: var(--color-primary);
    stroke-width: 1.7px;
    transition-property: fill;
    transition-property: stroke;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    &.focus-visible {
      outline: none;
      fill: var(--color-primary_light);
      stroke: var(--color-white);
      transform: scale(1.2);
    }

    @include hover {
      fill: var(--color-primary);
      stroke: var(--color-white);
      transform: scale(1.2);
    }

    &:active {
      fill: var(--color-primary_shade);
      stroke: var(--color-white);
      transform: scale(1.2);
    }
  }
}

.swiper-button-disabled {
  svg {
    stroke: var(--color-grey);

    &.focus-visible {
      outline: none;
      fill: var(--color-white);
      stroke: var(--color-grey);
      transform: scale(1);
    }

    @include hover {
      fill: var(--color-white);
      stroke: var(--color-grey);
      transform: scale(1);
    }

    &:active {
      fill: var(--color-white);
      stroke: var(--color-grey);
      transform: scale(1);
    }
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 296px;
  height: 511px;
  color: var(--color-black);
  background-color: var(--color-grey_light);
  border-radius: 10px;

  &__badge {
    position: absolute;
    top: 31px;
    left: 0;
    z-index: 100;
    padding-top: 7px;
    padding-right: 13px;
    width: 92px;
    height: 34px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-white);
    fill: var(--color-secondary);
    background-image: url('../img/badge.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__image {
    img {
      display: block;
      margin: 0 auto;
    }
  }

  &__image {
    margin: 0 auto;

    &-mini {
      position: absolute;
      right: 30px;
      bottom: 31px;
    }
  }

  &__title {
    width: 250px;
  }

  &--big {
    width: 624px;

    .card {
      &__title {
        width: 210px;
      }
    }
  }

  &__content {
    position: relative;
    padding: 30px;
    padding-top: 16px;
    padding-bottom: 29px;
  }

  &__title {
    margin-bottom: 21px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    @include crop-text(3);
  }

  &__image-mini {
    position: absolute;
    right: 30px;
    bottom: 29px;
  }

  &__price {
    margin-bottom: 21px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: var(--color-secondary);
    @include crop-text(1);

    &-crossed {
      margin-left: 26px;
      font-size: 16px;
      color: var(--color-grey);
    }
  }

  &__btn {
    padding: 17px 33px;
    padding-right: 34px;
  }
}
