$container-width-mini-desk: 1024px;

@media (max-width: (1351px)) {
  .container {
    max-width: $container-width-mini-desk;
  }

  .header {
    &__top {
      padding: 0;
      background-color: var(--color-white);

      .container {
        padding: 0;
        display: block;
        max-width: 100%;
      }

      &-left {
        margin: 0 auto;
        padding: 20px 36px;
        padding-bottom: 19px;
        max-width: $container-width-mini-desk;
      }

      &-right {
        padding: 17px 0px;
        background-color: var(--color-grey_light);

        .nav {
          &__list {
            margin: 0 auto;
            padding: 0 36px;
            justify-content: flex-start;
            gap: 54px;
            width: $container-width-mini-desk;
          }

          &__item {
            margin-left: -10px;
          }
        }
      }
    }

    &__center {
      margin-bottom: 29px;

      .nav {
        &__list {
          margin-top: 5px;
          margin-left: -10px;
          margin-right: -8px;
          width: 719px;
        }
      }
    }

    &__bottom {
      margin-bottom: 32px;

      .search {
        width: 652px;

        &__input {
          padding-top: 23px;
        }

        &__icon {
          bottom: 18px;
        }

        &__arrow {
          top: 15px;
        }
      }

      .choices::after {
        top: 27px;
      }

      .header__account {
        top: -135px;
      }
    }
  }

  .hero {
    .swiper {
      &__slide {
        &--1 {
          background-image: url('../img/hero_1-1024.webp');
        }

        &--2 {
          background-image: url('../img/hero_2-1024.webp');
        }

        &--3 {
          background-image: url('../img/hero_3-1024.webp');
        }
      }
    }

    &__content {
      max-width: 952px;
    }
  }

  .spec-offers {
    .swiper-slide {
      &--big {
        width: 296px !important;
      }
    }

    .card {
      &--big {
        width: 296px;

        .card__image {
          margin-bottom: 32px;
        }
      }

      &__image {
        &-mini {
          display: none;
        }
      }
    }
  }

  .high-rating {
    .card:not(:nth-child(-n + 6)) {
      display: none;
    }
  }

  .banner {
    background-image: url('../img/banner-1024.webp');
  }

  .top-category {
    &__title {
      margin-bottom: 26px;
    }

    &__wrap {
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: repeat(2, 511px);
      grid-auto-rows: 511px;
    }

    .category__image.category__image {
      position: relative;
      top: 7px;
      width: 260px;
    }

    .category__list {
      margin-bottom: 14px;
    }

    .category__image {
      width: 515px;
    }

    .category.category {
      grid-column: 3 span;
      overflow: hidden;

      &--1 {
        grid-column: 6 span;

        .category__title {
          padding-bottom: 23px;
        }

        .category__image {
          width: 515px;
        }
      }

      &--3 {
        .category__image {
          width: 296px;
        }
      }

      &--5 {
        .category__image {
          width: 264px;
        }
      }

      &--1,
      &--3,
      &--4 {
        order: -1;
      }
    }
  }

  .useful {
    &__title {
      margin-bottom: 26px;
    }

    .swiper-slide {
      width: 296px;
      height: 456px;
    }

    &__card.useful__card.card {
      padding-top: 202px;
      min-height: 456px;
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      @include crop-text(5);
    }

    .card__btn {
      padding-right: 33px;
    }
  }

  .feedback {
    &__container {
      background-image: url('../img/feedback_w514.svg');
      background-repeat: no-repeat;
      background-size: 514px 370px;
      background-position: 473px 50px;
    }

    &__content {
      padding-right: 60%;

      .form-field {
        width: 405px;
      }
    }

    .popper-btn {
      left: 1px;
    }
  }

  .footer {
    .nav {
      width: 733px;
    }
  }
}
