$container-width-mobile: 320px;
$width-mobile: 296px;

@media (max-width: (767px)) {
  .container {
    max-width: $container-width-mobile;
    padding: 0 12px;
  }

  .header {
    &__top {
      margin-bottom: 4px;

      .container {
        max-width: $container-width-mobile;
      }

      &-left {
        margin: 0;
        margin-top: 48px;
        display: block;
        padding-top: 21px;
        padding-right: 12px;
        padding-left: 12px;
        padding-bottom: 13px;

        .header__region {
          margin-bottom: 21px;
        }

        .header__tel-svg {
          left: -1px;
        }
      }

      &-right.nav {
        display: none;
      }
    }

    &__center {
      margin-bottom: 16px;
      padding-top: 9px;
      padding-bottom: 12px;
      border: 1px solid var(--color-grey_light);

      .logo {
        margin: 0;
        display: inline-block;
        height: 27px;
        background-color: var(--color-grey_light);

        &-wrap {
          top: 0px;
          margin: 0;
          padding-top: 12px;
          width: 100%;
          height: 50px;
          text-align: center;
          background-color: var(--color-grey_light);
        }
      }

      .burger-wrap .burger {
        left: 4px;
      }
    }

    &__bottom {
      margin-bottom: 32px;
      display: block;

      .container {
        display: flex;
        flex-wrap: wrap;
      }

      .search {
        margin-bottom: 16px;
        width: $width-mobile;

        &__input {
          max-width: $width-mobile;
          border-radius: 10px;
        }
      }

      .categories {
        .choices {
          width: $width-mobile;
          border-radius: 10px;
        }
      }

      .header__account.header__account {
        top: -59px;
        right: 9px;
      }
    }
  }

  .hero {
    $height: 303px;
    height: $height;

    &__container {
      padding: 0;
      max-width: 100%;
    }

    &__content {
      padding: 31px;
      max-width: 260px;
    }

    &__title {
      width: 204px;
      font-size: 20px;
      line-height: 27px;
    }

    &__swiper {
      height: $height;
    }

    .swiper {
      &-slide {
        height: 210px;
      }
      &__slide {
        &--1 {
          background-image: url('../img/hero_1-320.webp');
        }

        &--2 {
          background-image: url('../img/hero_2-320.webp');
        }

        &--3 {
          background-image: url('../img/hero_3-320.webp');
        }
      }
    }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      margin: 0 4px;
      height: 6px;
      width: 6px;
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 99px;
    }

    &__btn {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -92px;
      width: 196px;
    }
  }

  .spec-offers {
    &__title {
      margin-bottom: 24px;
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
    }

    .swiper {
      height: 633px;
    }
  }

  .my-swiper-button {
    position: absolute;
    top: calc(90% + 27px);
    right: 155px;

    &-next {
      top: calc(90% + 31px);
      right: 110px;
    }
  }

  .high-rating {
    &__wrap {
      margin-bottom: 32px;
      gap: 16px;
    }

    &__title {
      margin-bottom: 25px;
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
    }

    .card {
      padding-top: 41px;
      width: 140px;
      height: 278px;

      &__badge {
        top: 10px;
        left: 16px;
        width: 63px;
        height: 28px;
        font-size: 12px;
        background-size: 13px 12px;
      }

      &__image-wrap {
        justify-content: center;
      }

      &__content {
        padding: 16px;
        padding-top: 10px;
      }

      &__title {
        margin-bottom: 17px;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
      }

      &__price {
        margin-bottom: 15px;
      }

      &__btn {
        padding: 10px 23px;
      }
    }

    &__button {
      padding: 20px;
      width: 100%;
    }
  }

  .banner {
    margin-bottom: 162px;
    background-image: url('../img/banner-320.webp');

    &__wrap {
      position: relative;
      justify-content: flex-start;
      max-width: 100%;
      min-height: 210px;
    }

    &__title {
      margin-top: -2px;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      width: 190px;

      &-accent {
        font-weight: 900;
        font-size: 24px;
        line-height: 120%;
      }
    }

    &__button {
      position: absolute;
      bottom: -92px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
  }

  .top-category {
    &__wrap {
      grid-template-rows: 332px;
      grid-auto-rows: 206px;
      gap: 32px 16px;
    }

    &__title {
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
    }

    .category .category__image.category__image {
      position: relative;
      // top: -10px;
      top: 17px;
      width: $width-mobile;
    }

    .category {
      .category__list {
        gap: 10px;
      }

      &:not(:nth-child(1)) {
        padding: 16px;
        padding-top: 19px;

        .category__nav {
          .category__list {
            margin-top: 6px;
            margin-bottom: 9px;
            flex-direction: column;
            gap: 14px;

            .nav__link {
              font-size: 10px;
            }

            .nav__item {
              margin-top: -9px;
            }
          }
        }

        .category__title {
          position: relative;
          margin-top: -3px;
          padding-top: 3px;
          padding-bottom: 27px;
          font-size: 16px;
          line-height: 104%;
        }

        .category__image {
          top: 3px;
          left: 14px;
          width: 141px;
        }
      }

      &--4 {
        .category__image.category__image {
          top: 4px;
        }
      }
    }

    &__link {
      position: relative;
      top: 7px;
      bottom: 6px;
      left: 5px;
      width: 22px;
      height: 23px;

      svg {
        position: absolute;
        top: -8px;
      }

      .link-text {
        display: none;
      }
    }
  }

  .useful {
    &__title {
      margin-top: 8px;
      font-size: 24px;
      line-height: 100%;
    }

    .swiper {
      height: 563px;
    }

    .my-swiper-button {
      top: calc(90% + 19px);
      right: 154px;

      &-next {
        top: calc(90% + 23px);
        right: 109px;
      }
    }
  }

  .feedback {
    &__title {
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
    }

    &__content {
      padding-right: 0;

      .form-field {
        width: $width-mobile;
      }
    }

    &__btn {
      margin-bottom: 14px;
    }

    .popper-btn {
      left: -2px;
    }

    .user-agreement {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;

      &__text {
        padding-left: 21px;

        &::before {
          top: 1px;
        }

        &::after {
          top: 1.5px;
          width: 13px;
        }
      }
    }
  }

  .footer {
    &__container {
      height: 353px;
      justify-content: flex-start;
    }

    &__logo-wrap {
      margin-bottom: 17px;
      justify-content: center;
      padding-top: 23px;
    }

    &__icons {
      top: -7px;
      left: 2px;
    }

    .nav {
      flex-wrap: wrap;
      width: 292px;
    }

    &__services {
      left: 19px;
    }

    &__contacts {
      top: 25px;
      left: 0px;
    }

    &__cooperation {
      top: 25px;
      left: -9px;
    }
  }
}
