$container-width-tablet: 696px;

@media (max-width: (1023px)) {
  .container {
    max-width: $container-width-tablet;
  }

  .header {
    &__top {
      &-left {
        max-width: $container-width-tablet;
      }

      &-right {
        .nav {
          &__list {
            gap: 35px;
            width: $container-width-tablet;
          }

          &__item {
            margin-right: -10px;
          }
        }
      }
    }

    &__center {
      margin-bottom: 33px;

      .logo {
        margin-right: 0;

        &-wrap {
          margin-top: 1px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .burger-wrap {
        display: inline-block;
        background-color: var(--color-grey-dark);

        .burger {
          @include burger;
          color: var(--color-primary);
        }
      }

      .nav {
        &__list {
          display: none;
        }
      }
    }

    &__categories {
      .choices {
        padding-right: 155px;
        width: 186px;
      }
    }

    &__bottom {
      margin-bottom: 32px;

      .header__account {
        top: -64px;
      }

      .search__input {
        width: 435px;
      }
    }
  }

  .hero {
    &__container {
      max-width: 100%;
    }

    &__content {
      max-width: 624px;
    }

    .swiper {
      &__slide {
        &--1 {
          background-image: url('../img/hero_1-768.webp');
        }

        &--2 {
          background-image: url('../img/hero_2-768.webp');
        }

        &--3 {
          background-image: url('../img/hero_3-768.webp');
        }
      }
    }
  }

  .high-rating {
    .card {
      &__content {
        padding-top: 17px;
      }
    }
  }

  .banner {
    background-image: url('../img/banner-768.webp');

    &__container {
      max-width: 768px;
    }
  }

  .top-category {
    &__wrap {
      grid-template-columns: repeat(6, 1fr);
    }

    .category.category {
      &--4 {
        order: 0;
      }
    }
  }

  .feedback {
    &__container {
      background-image: url('../img/feedback_w187.svg');
      background-repeat: no-repeat;
      background-size: 621px 444px;
      background-position: 256px 13px;
    }

    &__content {
      padding-right: 40%;

      .form-field {
        width: 405px;
      }
    }
  }

  .footer {
    &__container {
      flex-direction: column;
      padding-top: 26px;
    }

    &__logo-wrap {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__icons {
      position: relative;
      top: -5px;
      left: 3px;
    }

    .nav {
      padding-top: 1px;
      width: 622px;
    }
  }
}
