<nav class="breadcrumb nav" aria-label="breadcrumb">
  <div class="container breadcrumb__container">
    <ul class="breadcrumb__list list-reset">
      <li class="breadcrumb__item"><a href="index.html">@item_1</a></li>

      <li class="breadcrumb__item"><a href="#">@item_2</a></li>

      <li class="breadcrumb__item"><a href="#">@item_3</a></li>

      @if (item_4) {
        <li class="breadcrumb__item"><a href="#">@item_4</a></li>

        @if (item_5) {
          <li class="breadcrumb__item"><a href="#">@item_5</a></li>
        }
      }
    </ul>
  </div>
</nav>
