<div class="feedback section-offset">
  <div class="container feedback__container lazy">
    <h2 class="feedback__title">Мы&nbsp;всегда вам рады!</h2>

    <div class="feedback__content">
      <p class="feedback__text">
        Безусловно, новая модель организационной деятельности
        в&nbsp;значительной степени обусловливает важность распределения
        внутренних резервов и&nbsp;ресурсов.
        <button id="feedback-button" class="popper-btn" aria-describedby="feedback-tooltip"
          title="Всплывающая подсказка"></button>
      </p>
      <div id="feedback-tooltip" class="popper-tooltip" role="tooltip">
        Реплицированные с&nbsp;зарубежных источников, исследования формируют глобальную сеть.
        <div class="feedback-arrow" data-popper-arrow></div>
      </div>

      @include('./feedback_form.html', {
        "id_form": "feedback-form",
        "name": "name",
        "phone": "phone",
        "email": "email",
        "user_agreement": "user-agreement"
      })

    </div>
  </div>
</div>
