<footer class="footer">
  <div class="container footer__container">
    <div class="footer__logo-wrap">
      @include('./logo.html')

      <div class="footer__icons">

        @loop('./footer_icon.html', [
          {
            "name": "Facebook",
            "class": "fb"
          },
          {
            "name": "VK",
            "class": "vk"
          },
          {
            "name": "Instagram",
            "class": "instagram"
          },
        ])

      </div>
    </div>

    <nav class="footer__nav nav" title="Меню подвала">

      @loop('./footer_nav-item.html', [
          {
            "list_name": "about",
            "nav_title": "О&nbsp;нас",
            "item_1": "О&nbsp;компании",
            "item_2": "Блог",
            "item_3": "",
          },
          {
            "list_name": "services",
            "nav_title": "Услуги",
            "item_1": "Доставка",
            "item_2": "Рассрочка и&nbsp;кредит",
            "item_3": "Сборка и&nbsp;установка",
          },
          {
            "list_name": "contacts",
            "nav_title": "Связь с нами",
            "item_1": "Обратная связь",
            "item_2": "Контакты",
            "item_3": "",
          },
          {
            "list_name": "cooperation",
            "nav_title": "Сотрудничество",
            "item_1": "Поставщикам",
            "item_2": "Оптовикам",
            "item_3": "Карьера",
          }
        ])

    </nav>
  </div>

  <div class="footer__bottom">
    <div class="footer__sub-text">
      <div class="sub-text">SDP<sup class="reg">&reg;</sup> 2011-2021</div>
    </div>
  </div>
</footer>
