<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>@title</title>

  @loop('./head_font.html', [
    { "font": "OpenSans-Regular" },
    { "font": "OpenSans-Bold" },
    { "font": "OpenSans-SemiBold" },
    { "font": "PlayfairDisplay-Black" }
  ])

  <link rel="stylesheet" href="css/@css_vendor.css" />
  <link
    rel="stylesheet"
    href="https://unpkg.com/swiper/swiper-bundle.min.css"
  />
  <link rel="stylesheet" href="css/@style_file.css" />

  <script defer src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script defer src="js/@script_file.js"></script>
</head>
