<header class="header">
  <!-- <div class="container header__container"> -->
  <div class="header__top">
    <div class="container">
      <address class="header__top-left">
        <div class="header__region">
          Ваш регион:
          <select
            title="Регионы"
            name="select"
            class="header__select-region js-select-region"
          >
            <option value="0" selected>Москва</option>
            <option value="1">Казань</option>
            <option value="2">Уфа</option>
            <option value="3">Пермь</option>
          </select>
        </div>

        <div class="header__tel">
          <a
            title="Ссылка на телефон"
            class="header__tel-text"
            href="tel:+74958854547"
          >
            <svg class="header__tel-svg">
              <use xlink:href="img/sprite.svg#header-tel"></use>
            </svg>
          </a>
        </div>
      </address>

      <nav class="nav header__top-right" title="Главное меню">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">О&nbsp;компании</a>
          </li>

          <li class="nav__item">
            <a href="#" class="nav__link">Гарантия и&nbsp;возврат</a>
          </li>

          <li class="nav__item">
            <a href="#" class="nav__link">Корпоративным клиентам</a>
          </li>

          <li class="nav__item">
            <a href="#" class="nav__link">Дизайн-решение</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="header__center">
    <div class="container">
      <div class="logo-wrap">
        @include('./logo.html')
      </div>

      <div class="burger-wrap">
        <button class="btn-reset burger" aria-label="Открыть меню">
          <span class="burger__line"></span>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </button>
      </div>

      <nav class="nav header__nav-center" title="Главное меню">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">Каталог</a>
          </li>

          <li class="nav__item">
            <a href="#" class="nav__link">Магазины</a>
          </li>

          <li class="nav__item">
            <a href="#" class="nav__link">Шоу-рум</a>
          </li>

          <li class="nav__item">
            <a href="#" class="nav__link">Доставка и оплата</a>
          </li>

          <li class="nav__item">
            <a href="#" class="nav__link">Дисконт</a>
          </li>

          <li class="nav__item">
            <a href="#" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container">
      <div class="header__search search">
        <button class="btn-reset search__icon" aria-label="Поиск">
          <svg class="header__search-svg">
            <use xlink:href="img/sprite.svg#search-icon"></use>
          </svg>
        </button>

        <input
          class="search__input form-field"
          type="search"
          id="search"
          name="q"
          placeholder="Я&nbsp;хочу купить..."
        />

        <button
          class="btn-reset search__arrow"
          type="submit"
          aria-label="Найти"
        ></button>
      </div>

      <div class="header__categories categories">
        <select
          title="Категории"
          name="select"
          class="header__select-categories js-select-categories"
        >
          <option value="" selected disabled>Категория</option>
          <option value="Выбор_1">Диваны</option>
          <option value="Выбор_2">Кресла</option>
          <option value="Выбор_3">Кровати</option>
          <option value="Выбор_4">Тумбы</option>
          <option value="Выбор_5">Комоды</option>
          <option value="Выбор_6">Стулья</option>
          <option value="Выбор_6">Столы</option>
          <option value="Выбор_6">Аксессуары</option>
        </select>
      </div>

      <div class="header__account">
        <a title="Ссылка на личный кабинет" class="account-link" href="#">
          <svg class="svg-personal">
            <use xlink:href="img/sprite.svg#personal"></use>
          </svg>
        </a>

        <div class="icon-count">0</div>
        <a title="Ссылка на корзину" class="basket-link" href="#">
          <svg class="svg-basket">
            <use xlink:href="img/sprite.svg#basket"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>
