<section class="hero section-offset">
  <div class="container hero__container">
    <div class="hero__swiper swiper js-swiper-hero">
      <div class="swiper-wrapper">
        @loop('./hero_slide.html', [
          { "number": "1", "title": "Скидка&nbsp;15%<br />на&nbsp;первую&nbsp;покупку" },
          { "number": "2", "title": "1000+&ensp;аксессуаров&ensp;для&ensp;дома" },
          { "number": "3", "title": "Коллекция&nbsp;стильного&ensp;и&nbsp;яркого&nbsp;текстиля" }
        ])
      </div>

      <div class="swiper-pagination js-swiper-pagination-hero"></div>
    </div>
  </div>
</section>
