<section class="high-rating section-offset">
  <div class="container high-rating__container">
    <h2 class="high-rating__title">Высокий рейтинг</h2>

    <div class="high-rating__wrap">
      @loop('./swiper-card.html', [
        {
          "number": "1",
          "badge": "5,0",
          "img_767": "high-rating_mob_1",
          "width_img_767": "108",
          "height_img_767": "33",
          "img_1920": "high-rating_1",
          "width_img_1920": "266",
          "height_img_1920": "82",
          "title": "Диван кожаный &Prime;R&#8209;94&Prime;",
          "price": "94&nbsp;990 руб"
        },
        {
          "number": "2",
          "badge": "4,9",
          "img_767": "high-rating_mob_2",
          "width_img_767": "108",
          "height_img_767": "42",
          "img_1920": "high-rating_2",
          "width_img_1920": "261",
          "height_img_1920": "101",
          "title": "Диван апартековый &Prime;T&#8209;75&Prime;",
          "price": "69&nbsp;990 руб"
        },
        {
          "number": "3",
          "badge": "4,8",
          "img_767": "high-rating_mob_3",
          "width_img_767": "108",
          "height_img_767": "42",
          "img_1920": "high-rating_3",
          "width_img_1920": "262",
          "height_img_1920": "103",
          "title": "Диван тканевый &Prime;D&#8209;31&Prime;",
          "price": "28&nbsp;490 руб"
        },
        {
          "number": "4",
          "badge": "4,8",
          "img_767": "high-rating_mob_4",
          "width_img_767": "108",
          "height_img_767": "53",
          "img_1920": "high-rating_4",
          "width_img_1920": "257",
          "height_img_1920": "125",
          "title": "Диван велюровый &Prime;Y&#8209;68&Prime;",
          "price": "22&nbsp;990 руб"
        },
        {
          "number": "5",
          "badge": "4,8",
          "img_767": "high-rating_mob_5",
          "width_img_767": "108",
          "height_img_767": "48",
          "img_1920": "high-rating_5",
          "width_img_1920": "265",
          "height_img_1920": "117",
          "title": "Диван из&nbsp;шинила &Prime;W&#8209;95&Prime;",
          "price": "22&nbsp;990 руб"
        },
        {
          "number": "6",
          "badge": "4,8",
          "img_767": "high-rating_mob_6",
          "width_img_767": "108",
          "height_img_767": "47",
          "img_1920": "high-rating_6",
          "width_img_1920": "271",
          "height_img_1920": "117",
          "title": "Диван флоковый &Prime;G&#8209;41&Prime;",
          "price": "17&nbsp;990 руб"
        },
        {
          "number": "7",
          "badge": "4,8",
          "img_767": "high-rating_7",
          "width_img_767": "266",
          "height_img_767": "130",
          "img_1920": "high-rating_7",
          "width_img_1920": "266",
          "height_img_1920": "130",
          "title": "Диван шиниловый &Prime;V&#8209;43&Prime;",
          "price": "19&nbsp;990 руб"
        },
        {
          "number": "8",
          "badge": "4,7",
          "img_767": "high-rating_8",
          "width_img_767": "212",
          "height_img_767": "124",
          "img_1920": "high-rating_8",
          "width_img_1920": "212",
          "height_img_1920": "124",
          "title": "Диван велюровый &Prime;S&#8209;99&Prime;",
          "price": "19&nbsp;990 руб"
        }
      ]
     )
    </div>

    <button class="high-rating__button btn-reset btn-fill btn">
      Смотреть больше товаров
    </button>
  </div>
</section>
