<section class="product">
  <div class="container product__container">
    <picture class="product__img-big">
      <source
        srcset="img/product_big_w296.webp"
        media="(max-width: 767px)"
        width="296"
        height="116"
      />

      <source
        srcset="img/product_big_w624.webp"
        media="(max-width: 1023px)"
        width="623"
        height="245"
      />

      <source
        srcset="img/product_big_w514.webp"
        media="(max-width: 1351px)"
        width="514"
        height="202"
      />

      <img
        src="img/product_big_w624.webp"
        alt="Диван тканевый прямой &Prime;D&#8209;31&Prime;"
        width="624"
        height="245"
      />
    </picture>

    <div class="product__img-wrap-mini">
      <img
        class="product__img product__img--1"
        loading="lazy"
        src="img/product_1_w123.webp"
        alt="Диван тканевый прямой &Prime;D&#8209;31&Prime;"
        width="123"
        height="61"
      />

      <img
        class="product__img product__img--2"
        loading="lazy"
        src="img/product_2_w66.webp"
        alt="Диван тканевый прямой &Prime;D&#8209;31&Prime;"
        width="66"
        height="61"
      />

      <img
        class="product__img product__img--3"
        loading="lazy"
        src="img/product_3_w134.webp"
        alt="Диван тканевый прямой &Prime;D&#8209;31&Prime;"
        width="134"
        height="61"
      />

      <img
        class="product__img product__img--4"
        loading="lazy"
        src="img/product_4_w137.webp"
        alt="Диван тканевый прямой &Prime;DT&#8209;31&Prime;"
        width="137"
        height="61"
      />
    </div>

    <div class="product__content">
      <div class="product__badge badge">4,8</div>

      <h1 class="product__title">
        Диван тканевый прямой &Prime;D&#8209;31&Prime;
      </h1>

      <div class="product__sub-text">
        Мини 120&nbsp;см без ящика Stark синий (Рогожка)
      </div>

      <div class="product__price">28&nbsp;490 руб</div>

      <button class="btn-reset btn btn-fill product__btn">
        Купить в&nbsp;один клик
      </button>

      <button class="btn-reset product__add">+ Добавить в&nbsp;корзину</button>
    </div>

    <div class="product__descr descr">
      <div class="descr__wrap descr-wrap">
        <h2 class="descr__title">Опорный механизм</h2>

        <p class="descr__text">
          Опорный механизм напоминает пантограф, к&nbsp;которому добавили
          дополнительную секцию. У&nbsp;опорного дивана сиденье
          &laquo;выпрыгивает&raquo; вперёд и&nbsp;вытаскивает вторую часть
          спального места. Заключительный штрих&nbsp;&mdash; опустить спинку.
        </p>

        <p class="descr__text">
          Этот механизм не&nbsp;портит пол и&nbsp;не&nbsp;боится ковров. Требуется
          чуть больше силы, чтобы разложить диван, но&nbsp;подросток справится.
        </p>
      </div>

      <div class="descr__img-wrap">
        <picture class="product__schema product__schema--1">
          <source
            srcset="img/product_schema-1.svg"
            media="(max-width: 1351px)"
            width="243"
            height="110"
          />

          <img
            loading="lazy"
            src="img/product_schema-1.svg"
            alt="Диван тканевый прямой &Prime;D&#8209;31&Prime;"
            width="247"
            height="113"
          />
        </picture>

        <picture class="product__schema product__schema--2">
          <source
            srcset="img/product_schema-2.svg"
            media="(max-width: 1351px)"
            width="243"
            height="110"
          />

          <img
            loading="lazy"
            src="img/product_schema-2.svg"
            alt="Диван тканевый прямой &Prime;D&#8209;31&Prime;"
            width="247"
            height="113"
          />
        </picture>
      </div>
    </div>

    <div class="product__params params">
      <ul class="params__list list-reset">
        @loop('./product-params-item.html', [
          { "name": "Гарантия", "value": "18&nbsp;месяцев" },
          { "name": "Артикул", "value": "AAA41269004" },
          { "name": "Длина", "value": "163&nbsp;см" },
          { "name": "Высота", "value": "90&nbsp;см" },
          { "name": "Глубина", "value": "108&nbsp;см" },
          { "name": "Спальное место", "value": "200&nbsp;см&nbsp;х&nbsp;125&nbsp;см" },
          { "name": "Высота посадки", "value": "45&nbsp;см" },
          { "name": "Механизм", "value": "Опорный" },
          { "name": "Тип обивки", "value": "Рогожка" },
          { "name": "Цвет", "value": "Синий" },
          { "name": "Наполнитель", "value": "Независимый&nbsp;пружинный&nbsp;блок" },
          { "name": "Материал каркаса", "value": "Металл.&nbsp;рама&nbsp;с&nbsp;дерев.&nbsp;латами"},
          { "name": "Количество мест", "value": "Двухместные" },
          { "name": "Категория", "value": "Прямые&nbsp;тканевые&nbsp;диваны" },
          { "name": "Возврат", "value": "Условия" }
        ]
      )
      </ul>
    </div>
  </div>
</section>
