<div id="modal-buy" class="modal feedback">
  <button data-close class="modal__close btn-reset" aria-label="Закрыть окно">
    <svg class="modal__svg">
      <use xlink:href="img/sprite.svg#close"></use>
    </svg>
  </button>

  <h2 class="modal__title">Купить в&nbsp;один клик</h2>

  <p class="modal__text">
    Чтобы оформить заказ&nbsp;&mdash; заполните формы ниже и&nbsp;наш
    менеджер свяжется с&nbsp;вами в&nbsp;течении часа.
  </p>

  @include('./feedback_form.html', {
    "id_form": "product-form",
    "name": "product-name",
    "phone": "product-phone",
    "email": "",
    "user_agreement": "product-user-agreement"
  })

</div>

<div id="modal-thanks" class="modal">
  <button data-close class="modal__close btn-reset" aria-label="Закрыть окно">
    <svg class="modal__svg">
      <use xlink:href="img/sprite.svg#close"></use>
    </svg>
  </button>

  <div class="modal__image"></div>
  <div class="modal__text">Спасибо, мы вам перезвоним!</div>
</div>

<div id="modal-image" class="modal modal-image">
  <button data-close class="modal__close btn-reset" aria-label="Закрыть окно">
    <svg class="modal__svg">
      <use xlink:href="img/sprite.svg#close"></use>
    </svg>
  </button>

  <picture class="modal-image__big">
    <source
      srcset="img/modal_img-w264.webp"
      media="(max-width: 767px)"
      width="264"
      height="104"
    />

    <source
      srcset="img/modal_img-w583.webp"
      media="(max-width: 1023px)"
      width="583"
      height="228"
    />

    <source
      srcset="img/modal_img-w821.webp"
      media="(max-width: 1351px)"
      width="821"
      height="322"
    />

    <img
      loading="lazy"
      src="img/modal_img-w1065.webp"
      alt="Диван тканевый прямой &Prime;D&#8209;31&Prime;"
      width="1065"
      height="418"
    />
  </picture>


  <div class="swiper modal-image__swiper js-swiper-modal-image">
    <div class="swiper-wrapper modal-image__wrap">

      @loop('./modal-image.html', [
        {
          "number": "1",
          "img": "modal_img_1-w253",
          "width": "253"
        },
        {
          "number": "2",
          "img": "modal_img_2-w135",
          "width": "135"
        },
        {
          "number": "3",
          "img": "modal_img_3-w275",
          "width": "275"
        },
        {
          "number": "4",
          "img": "modal_img_4-w281",
          "width": "281"
        }
      ])

    </div>
  </div>


  @include('./swiper-buttons.html', {
    "class_prev": "my-swiper-button-prev",
    "class_next": "my-swiper-button-next"
  })

</div>

<div id="shadow" class="shadow"></div>
