<section class="spec-offers section-offset">
  <div class="container spec-offers__container">
    <div class="swiper spec-offers__swiper js-swiper-spec-offers">
      <h2 class="spec-offers__title">Специальные предложения</h2>

      <div class="swiper-wrapper">

        @loop('./spec-offers_card.html', [
          {
            "number": "1",
            "class_swiper_big": "",
            "class_card_big": "",
            "badge": "&minus;&nbsp;9&nbsp;000",
            "img_desk": "spec-of_1",
            "width_img_desk": "193",
            "height_img_desk": "210",
            "img": "spec-of_1",
            "width_img": "193",
            "height_img": "210",
            "title": "Кресло велюровое &Prime;X&#8209;24&Prime;",
            "price": "15&nbsp;990&nbsp;руб",
            "price_before": "24&nbsp;990&nbsp;руб",
            "img_mini": "",
            "width_img_mini": "",
            "height_img_mini": ""
          },
          {
            "number": "2",
            "class_swiper_big": "swiper-slide--big",
            "class_card_big": "card--big",
            "badge": "&minus;&nbsp;10&nbsp;000",
            "img_desk": "spec-of_2-big",
            "width_img_desk": "450",
            "height_img_desk": "245",
            "img": "spec-of_2",
            "width_img": "254",
            "height_img": "138",
            "title": "Диван тканевый &Prime;Z&#8209;44&Prime;",
            "price": "22&nbsp;990&nbsp;руб",
            "price_before": "32&nbsp;990&nbsp;руб",
            "img_mini": "spec-of_2-mini",
            "width_img_mini": "230",
            "height_img_mini": "107"
          },
          {
            "number": "3",
            "class_swiper_big": "",
            "class_card_big": "",
            "badge": "&minus;&nbsp;600",
            "img_desk": "spec-of_3",
            "width_img_desk": "149",
            "height_img_desk": "218",
            "img": "spec-of_3",
            "width_img": "149",
            "height_img": "218",
            "title": "Будильник &Prime;Quartz&#8209;23&Prime;",
            "price": "1&nbsp;290&nbsp;руб",
            "price_before": "1&nbsp;890&nbsp;руб",
            "img_mini": "",
            "width_img_mini": "",
            "height_img_mini": ""
          },
          {
            "number": "4",
            "class_swiper_big": "",
            "class_card_big": "",
            "badge": "&minus;&nbsp;300",
            "img_desk": "spec-of_4",
            "width_img_desk": "117",
            "height_img_desk": "210",
            "img": "spec-of_4",
            "width_img": "117",
            "height_img": "210",
            "title": "Мини&#8209;скульптура &Prime;Oh&nbsp;my&nbsp;deer&Prime;",
            "price": "690&nbsp;руб",
            "price_before": "990&nbsp;руб",
            "img_mini": "",
            "width_img_mini": "",
            "height_img_mini": ""
          },
          {
            "number": "5",
            "class_swiper_big": "swiper-slide--big",
            "class_card_big": "card--big",
            "badge": "&minus;&nbsp;10&nbsp;000",
            "img_desk": "spec-of_5-big",
            "width_img_desk": "463",
            "height_img_desk": "223",
            "img": "spec-of_5",
            "width_img": "254",
            "height_img": "123",
            "title": "Диван вел-флок &Prime;Z&#8209;85&Prime;",
            "price": "22&nbsp;990&nbsp;руб",
            "price_before": "32&nbsp;990&nbsp;руб",
            "img_mini": "spec-of_5-mini",
            "width_img_mini": "234",
            "height_img_mini": "124"
          },
          {
            "number": "6",
            "class_swiper_big": "",
            "class_card_big": "",
            "badge": "&minus;&nbsp;700",
            "img_desk": "spec-of_6",
            "width_img_desk": "183",
            "height_img_desk": "218",
            "img": "spec-of_6",
            "width_img": "183",
            "height_img": "218",
            "title": "Термометр + гидрометр &Prime;H&#8209;18&Prime;",
            "price": "1&nbsp;390&nbsp;руб",
            "price_before": "2&nbsp;090&nbsp;руб",
            "img_mini": "",
            "width_img_mini": "",
            "height_img_mini": ""
          }
        ]
       )

      </div>

      @include('./swiper-buttons.html', {
        "class_prev": "my-swiper-button-prev",
        "class_next": "my-swiper-button-next"
      })

    </div>
  </div>
</section>
