<div class="swiper-slide card card--@number">
  <div class="card__badge badge">@badge</div>

  <div class="card__image-wrap">
    <picture class="card__image">
      <source
        srcset="img/@img_767.webp"
        media="(max-width: 767px)"
        width="@width_img_767"
        height="@height_img_767"
      />
      <img
        class="card__image"
        loading="lazy"
        src="img/@img_1920.webp"
        alt="@title"
        width="@width_img_1920"
        height="@height_img_1920"
      />
    </picture>
  </div>

  <div class="card__content">
    <h3 class="card__title">@title</h3>

    <p class="card__price">@price</p>

    <button class="btn-reset btn card__btn">Купить</button>
  </div>
</div>
