
<div class="top-category__category category category--@number">
  <nav class="nav category__nav">
    <ul class="list-reset nav__list category__list">
      <li class="nav__item">
        <a href="#" class="nav__link">@category_1</a>
      </li>

      <li class="nav__item">
        <a href="#" class="nav__link">@category_2</a>
      </li>

      @if (category_3) {
        <li class="nav__item">
          <a href="#" class="nav__link">@category_3</a>
        </li>
      }
    </ul>
  </nav>

  <h3 class="category__title">
    @category_main
    <a title="Ссылка в каталог" class="top-category__link" href="#">
      <span class="link-text">В&nbsp;каталог</span>

      <svg class="top-category__svg svg-arrow">
        <use xlink:href="img/sprite.svg#arrow-right-fill"></use>
      </svg>
    </a>
  </h3>

  <picture class="category__image">
    <source
      srcset="img/@img_mini.webp"
      media="(max-width: 767px)"
      width="@width_img_mini"
      height="@height_img_mini"
    />
    <source
      srcset="img/@img_1024.webp"
      media="(max-width: 1351px)"
      width="@width_img_1024"
      height="@height_img_1024"
    />
    <img
      loading="lazy"
      src="img/@img.webp"
      alt="Диваны"
      width="@width_img"
      height="@height_img"
    />
  </picture>
</div>
