<div class="top-category section-offset">
  <div class="container top-category__container">
    <h2 class="top-category__title">Топ категории</h2>

    <div class="top-category__wrap">

      @loop('./top-category_card.html', [
        {
          "number": "1",
          "category_1": "Прямые",
          "category_2": "Угловые",
          "category_3": "Модульные",
          "category_main": "Диваны",
          "img_mini": "top-category_mini_1",
          "width_img_mini": "354",
          "height_img_mini": "212",
          "img_1024": "top-category_1",
          "width_img_1024": "515",
          "height_img_1024": "308",
          "img": "top-category_1",
          "width_img": "515",
          "height_img": "308"
        },
        {
          "number": "2",
          "category_1": "Мягкие",
          "category_2": "Кресла&#8209;кровати",
          "category_3": "",
          "category_main": "Кресла",
          "img_mini": "top-category_mini_2",
          "width_img_mini": "158",
          "height_img_mini": "104",
          "img_1024": "top-category_2-1024",
          "width_img_1024": "497",
          "height_img_1024": "296",
          "img": "top-category_2",
          "width_img": "515",
          "height_img": "308"
        },
        {
          "number": "3",
          "category_1": "Односпальные",
          "category_2": "Двуспальные",
          "category_3": "",
          "category_main": "Кровати",
          "img_mini": "top-category_mini_3",
          "width_img_mini": "157",
          "height_img_mini": "104",
          "img_1024": "top-category_3-1024",
          "width_img_1024": "498",
          "height_img_1024": "296",
          "img": "top-category_3",
          "width_img": "306",
          "height_img": "302"
        },
        {
          "number": "4",
          "category_1": "Тумбы",
          "category_2": "Комоды",
          "category_3": "",
          "category_main": "Тумбы и&nbsp;комоды",
          "img_mini": "top-category_mini_4",
          "width_img_mini": "142",
          "height_img_mini": "87",
          "img_1024": "top-category_4-1024",
          "width_img_1024": "252",
          "height_img_1024": "296",
          "img": "top-category_4",
          "width_img": "330",
          "height_img": "302"
        },
        {
          "number": "5",
          "category_1": "Деревянные",
          "category_2": "Металлокаркас",
          "category_3": "",
          "category_main": "Стулья",
          "img_mini": "top-category_mini_5",
          "width_img_mini": "140",
          "height_img_mini": "104",
          "img_1024": "top-category_5-1024",
          "width_img_1024": "378",
          "height_img_1024": "296",
          "img": "top-category_5",
          "width_img": "258",
          "height_img": "202"
        },
      ])

    </div>
  </div>
</div>
