<div class="useful section-offset">
  <div class="container useful__container">
    <div class="swiper useful__swiper js-swiper-useful">
      <h2 class="useful__title">Полезное</h2>

      <div class="swiper-wrapper">

          @loop('./useful_card.html', [
            {
              "number": "1",
              "text": "И&nbsp;нет сомнений, что сделанные на&nbsp;базе интернет-аналитики выводы представляют собой не&nbsp;что иное?"
            },
            {
              "number": "2",
              "text": "Как принято считать, некоторые особенности приносят несомненную пользу обществу?"
            },
            {
              "number": "3",
              "text": "Ясность нашей позиции очевидна: укрепление и&nbsp;развитие внутренней структуры?"
            },
            {
              "number": "4",
              "text": "Прежде всего, консультация с&nbsp;широким активом однозначно фиксирует необходимость распределения?"
            },
            {
              "number": "5",
              "text": "Как принято считать, некоторые особенности приносят несомненную пользу обществу?"
            }
          ])

      </div>

      @include('./swiper-buttons.html', {
        "class_prev": "my-swiper-button-prev",
        "class_next": "my-swiper-button-next"
      })

    </div>
  </div>
</div>
