html {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-family, sans-serif);
  font-style: normal;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-black);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
p,
ul,
figure {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

sup {
  top: 0;
}

.site-container {
  overflow: hidden;
}

.section-offset {
  margin-bottom: 70px;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  padding: 19px 35px;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  background-color: transparent;
  color: var(--color-primary);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &:focus {
    outline: none;
  }

  &.focus-visible {
    border-color: var(--color-primary);
    background-color: var(--color-primary_light);
    color: var(--color-white);
  }

  @include hover {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &:active {
    border-color: var(--color-primary_shade);
    background-color: var(--color-primary_shade);
    color: var(--color-white);
  }

  &-fill {
    padding: 20px 48px;
    font-weight: 700;
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-white);

    &:focus {
      outline: none;
    }

    &.focus-visible {
      border-color: var(--color-primary_shade);
      background-color: var(--color-primary_light);
    }

    @include hover {
      border-color: var(--color-primary_light);
      background-color: var(--color-primary_light);
    }

    &:active {
      border-color: var(--color-primary_shade);
      background-color: var(--color-primary_shade);
    }
  }
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  column-gap: var(--offset);
  grid-template-columns: repeat(12, 1fr);
}

.hided-smoothly {
  opacity: 0;
  transform: translateY(100%);
}

.form-field {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid var(--color-grey_light);
  border-radius: 10px;
  padding: 15px 23px;
  resize: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: var(--color-grey_light);
  color: var(--color-grey);

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &:focus {
    outline: none;
    border-color: var(--color-primary);
  }

  &:hover {
    background-color: var(--color-md_grey);
  }

  &:active {
    outline: none;
    color: var(--color-black);
    border: 1px solid var(--color-grey_light);
  }
}

input.form-field {
  height: 50px;
}

.nav-link {
  &:focus {
    outline: none;
    color: var(--color-primary_shade);
    background-color: var(--color-pink_violet);
  }

  @include hover {
    color: var(--color-primary);
  }

  &:active {
    color: var(--color-primary_shade);
    background-color: transparent;
  }
}

.nav__link {
  @extend .nav-link;
  position: relative;
  padding: 1px 10px;
  @include crop-text(3);
}

.field-wrap {
  position: relative;

  .just-validate-error {
    &-label {
      position: absolute;
      top: -18px;
      left: 23px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: var(--color-red_input) !important;
    }

    &-field {
      outline: none;
      border-color: var(--color-red_input) !important;
    }
  }
}
