:root {
  // base
  --font-family: 'OpenSans', sans-serif;
  --second-family: 'PlayfairDisplay', sans-serif;
  --content-width: 1280px;
  --container-offset: 36px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --hight_modal_img_desk: 684px;
  --hight_modal_img_mini_desk: 588px;
  --hight_modal_img_tablet: 494px;
  --hight_modal_img_mobile: 286px;
  --pos_modal_img_desk: calc(50% - (var(--hight_modal_img_desk) / 2));
  --pos_modal_img_mini_desk: calc(50% - (var(--hight_modal_img_mini_desk) / 2));
  --pos_modal_img_tablet: calc(50% - (var(--hight_modal_img_tablet) / 2));
  --pos_modal_img_mobile: calc(50% - (var(--hight_modal_img_mobile) / 2));

  // colors
  --color-primary: #a65cf0;
  --color-primary_light: #c998fb;
  --color-primary_shade: #7033ac;
  --color-pink_light: #f8efff;
  --color-pink_violet: #ebd1ff;
  --color-secondary: #ff862f;
  --color-secondary_light: #ffbd59;
  --color-secondary_shade: #bb370e;
  --color-red_input: #ff6972;
  --color-green_input: #b8ec64;
  --color-gold: #d5b986;
  --color-white: #ffffff;
  --color-grey_light: #f7f7f7;
  --color-md_grey: #eaeaea;
  --color-grey: #999999;
  --color-grey_shade: #666666;
  --color-black: #333333;
  --color-super_black: rgba(0, 0, 0, 0.2);
  --color-lime_color: #daffd1;
  --color-bone: #fff5d1;
}
